@import '../common/styles/base';

.a-event-market {
    border-left: $event-column-border-width solid transparent;

    &_type {
        &_ml,
        &_dc,
        &_bts {
            width: $event-column-small-width-md;

            @media (min-width: $screen-lg-min) {
                width: $event-column-small-width-lg;
            }

            @media (min-width: $screen-xlg-min) {
                width: $event-column-small-width-xlg;
            }
        }

        &_ml {
            @media (min-width: $screen-xlg-min) {
                padding-left: $event-market-ml-column-pl-xlg;
            }
        }

        &_handicap,
        &_totals {
            width: $event-column-big-width-md;

            @media (min-width: $screen-lg-min) {
                width: $event-column-big-width-lg;
            }

            @media (min-width: $screen-xlg-min) {
                width: $event-column-big-width-xlg;
            }
        }

        &_dc,
        &_bts,
        &_handicap,
        &_totals {
            border-color: $event-column-border-color;
        }

        &_dc,
        &_bts {
            @media (min-width: $screen-xlg-min) {
                .a-event-market__title {
                    margin-left: $event-market-bts-column-title-ml-xlg;
                }
            }
        }
    }

    &__title {
        display: flex;
        justify-content: center;

        height: $event-column-title-height;

        color: $event-column-title-text-color;

        font-family: $font-primary;
        font-size: $event-column-title-text-size;

        .a-event-market__empty-line {
            min-width: 47%;
        }
    }

    &__line {
        position: relative;

        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: row;
        justify-content: center;

        margin-top: $event-column-row-margin-top;
        padding: 0 $event-column-row-horizontal-padding;
        height: $event-column-row-height;

        @media (min-width: $screen-lg-min) {
            padding: 0 $event-column-row-horizontal-padding-lg;
        }

        @media (min-width: $screen-xlg-min) {
            padding: 0 $event-column-row-horizontal-padding-xlg;
        }

        &_content-pos {
            &_right {
                justify-content: flex-end;

                text-align: right;
            }

            &_left {
                justify-content: flex-start;
            }
        }

        &_type_icons {
            flex-direction: row;

            height: $event-column-row-icons-height;

            font-size: $event-column-row-icons-size;
        }
    }

    &__individual-total {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: $event-market-individual-total-mr;
        width: $event-market-individual-total-width;
        height: $event-market-individual-total-height;

        transition: all $common-transition;

        color: $event-market-individual-total-text-color;
        border: $event-market-individual-total-border-size solid $event-market-individual-total-border-color;
        border-radius: $event-market-individual-total-border-radius;

        font-size: $event-market-individual-total-text-size;

        @media (min-width: $screen-xlg-min) {
            width: $event-market-individual-total-width-xlg;
        }

        &:hover,
        &_selected {
            cursor: pointer;
            -moz-user-select: none;
            user-select: none;
            color: $event-market-individual-total-hover-color;
            border-color: $event-market-individual-total-hover-border-color;
        }
    }

    &__outcome-value {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: center;

        width: $event-market-outcome-value-width;
        height: $event-market-outcome-value-height;

        text-transform: uppercase;

        color: $event-market-outcome-value-text-color;
        border-radius: $event-market-outcome-value-border-radius;
        background-color: $event-market-outcome-value-color;

        font-family: $font-secondary;
        font-size: $event-market-outcome-value-text-size;

        @media (min-width: $screen-xlg-min) {
            width: $event-market-outcome-value-width-xlg;
        }

        &:hover {
            cursor: pointer;
        }

        &_type_no-line {
            text-transform: uppercase;
            pointer-events: none;

            color: $event-market-outcome-value-type-no-line-text-color;

            font-size: $event-market-outcome-value-type-no-line-text-size;
            font-weight: 500;

            &:hover {
                cursor: default;
            }
        }
    }

    &__outcome-subtitle {
        position: absolute;
        top: $event-market-outcome-subtitle-indent-top;
        left: 50%;

        display: flex;

        transform: translate(-50%, 0);

        color: $event-market-outcome-subtitle-color;

        font-size: $event-market-outcome-text-size;

        @media (min-width: $screen-xlg-min) {
            position: static;

            margin-right: $event-market-outcome-subtitle-mr-xlg;

            transform: none;

            font-size: $event-market-outcome-text-size-xlg;
        }
    }

    &__empty-line {
        min-width: $event-empty-line-min-width;
        height: $event-empty-line-default-height;

        border-radius: $event-empty-line-border-radius;
        background-color: $event-blurred-color;

        &_size_big {
            height: $event-empty-line-big-height;
        }
    }
}
