@import '../common/styles/base';

.a-overlay {
    &_blur_on {
        filter: blur($overlay-filter-blur);
    }

    &_mode_login-form {
        background-color: $page-login-bg;
        display: flex;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }
}
