@import '../common/styles/base';

.a-navbar {
    display: flex;

    width: $navbar-width;
    height: $navbar-height;

    &__left-side {
        flex-shrink: 0;

        width: $navbar-left-side-width-md;

        @media (min-width: $screen-lg-min) {
            width: $navbar-left-side-width-lg;
        }
    }

    &__right-side {
        flex-shrink: 0;

        width: $navbar-right-side-width-md;

        @media (min-width: $screen-xlg-min) {
            width: $navbar-right-side-width-xlg;
        }
    }

    &__btn-logout {
        margin-left: auto;
        margin-right: 2px;
        width: $navbar-height;
        height: $navbar-height;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $navbar-text-color;
        font-size: $navbar-btn-logout-size;

        &:hover {
            cursor: pointer;
        }
    }
}
